* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
}

.full-footer-container {
  position: relative;
}

/* shop container

.shop-container {
    @include flex-row-around;
    background-color: $colorBlue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    #shop-list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: auto;
    line-height: 70px;
    display: flex;
    align-self: center;

        li {
        @include li-menu-horizontal;
        margin: 0 10px;

            .shop-row {
            @include flex-row-center;
            color: #fff;
            text-decoration: none;


                .img-card {
                width: 40px;
                height: 40px;

                    img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding-right: 10px;
                    }

                    h6 {
                    padding-left: 10px;
                    }


                }
            }
        }
    }
}
*/

/*main footer contents */

.footer-container {
  display: flex;
  justify-content: space-around;
  height: 400px;
  margin-top: 50px;
}

.footer-container .footer-left {
  display: flex;
  width: 40%;
  padding: 5% 0 5% 15%;
}

.footer-container .footer-left .menu-col {
  display: flex;
  flex-direction: column;
}

.footer-container .footer-left .menu-col h6 {
  padding: 10px;
  margin-top: 10px;
}

.footer-container .footer-left .menu-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-container .footer-left .menu-col ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 11px;
  vertical-align: center;
  padding: 0;
}

.footer-container .footer-left .menu-col ul li a {
  text-decoration: none;
  color: #605f60;
}

.footer-container .footer-left .menu-col ul li a:hover {
  color: #fff;
}

.footer-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right img {
  max-height: 400px;
  padding-left: 5%;
}

.footer-right a {
  text-decoration: none;
}

/*footer bottom banner */

.footer-bottom-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #242424;
  display: flex;
  width: 100%;
}

.footer-bottom-banner img {
  max-height: 20px;
}

.footer-bottom-banner img:hover {
  border: solid 1px #fff;
  border-radius: 50%;
}

#follow {
  color: #0c69f7;
}

#follow:hover {
  color: #fff;
}

.footer-right li {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  vertical-align: center;
  margin: 0 5px;
}

button {
  align-self: center;
  padding: 10px;
  background-color: transparent;
  border: solid;
  border-color: #0c69f7;
  position: absolute;
  top: 15px;
  left: 15%;
}

button:hover {
  border-color: #fff;
}

button #button {
  text-decoration: none;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-around;
  max-height: 70px;
}

.header-container .logo {
  width: 40%;
}

.header-container .logo img {
  height: 50px;
}

.header-container .logo img:hover {
  height: 55px;
  cursor: pointer;
}

.header-container .menu {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-right: 10%;
}

.header-container .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0 0;
}

.header-container .menu ul li {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  vertical-align: center;
  margin: 0 10px;
  height: 50px;
}

.header-container .menu ul li:hover {
  border-bottom: #0c69f7 solid 2px;
}

.header-container .menu ul li a {
  color: #000;
  text-decoration: none;
}

.header-container .menu ul li a:hover {
  color: #0c69f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
}

.body-container {
  min-height: 300px;
}

.body-container .jumbotron-img {
  height: 200px;
}

.body-container .jumbotron-img img {
  max-width: 100%;
}

.body-container .container {
  width: 100%;
  position: absolute;
  height: 700px;
  background-color: black;
  padding: 20px 0;
}

.body-container .container .product-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 60%;
  margin: auto;
}

.body-container .container .product-cards-container .product-cards {
  display: flex;
  justify-content: space-around;
  height: 150px;
}

.body-container .container .product-cards-container .product-cards .product-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  margin: 10px;
}

.body-container .container .product-cards-container .product-cards .product-card:hover {
  cursor: pointer;
}

.body-container .container .product-cards-container .product-cards .product-card .product-image {
  height: 100px;
  width: 100px;
}

.body-container .container .product-cards-container .product-cards .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-container .container .product-cards-container .product-cards .product-card .product-image img:hover {
  border: 2px #fff solid;
  cursor: pointer;
}

.body-container .container .product-cards-container .product-cards .product-card .product-series {
  margin-top: 5px;
  padding-top: 5px;
  width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: xx-small;
}

.body-container .container .product-cards-container #top {
  font-weight: 600;
  background-color: #0c69f7;
  border: solid 0;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  position: absolute;
  left: 250px;
  top: -40px;
  font-size: x-small;
}

.body-container .container .product-cards-container #top:hover {
  background-color: #fff;
}

.body-container .container .product-cards-container #top a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

.body-container .container .product-cards-container #top a:hover {
  color: #000;
}

.body-container .container .product-cards-container #bottom {
  font-weight: 600;
  background-color: #0c69f7;
  border: solid 0;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  margin-left: 45%;
}

.body-container .container .product-cards-container #bottom:hover {
  background-color: #fff;
}

.body-container .container .product-cards-container #bottom a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: xx-small;
}

.body-container .container .product-cards-container #bottom a:hover {
  color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  color: #fff;
}

.shop-container {
  display: flex;
  justify-content: space-around;
  background-color: #0c69f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.shop-container #shop-list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: auto;
  line-height: 70px;
  display: flex;
  align-self: center;
}

.shop-container #shop-list li {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  vertical-align: center;
  margin: 0 10px;
}

.shop-container #shop-list li .shop-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}

.shop-container #shop-list li .shop-row:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.shop-container #shop-list li .shop-row .img-card {
  width: 40px;
  height: 40px;
}

.shop-container #shop-list li .shop-row .img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 10px;
}

.shop-container #shop-list li .shop-row .img-card h6 {
  padding-left: 10px;
}

